.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    padding: 19px;
    box-sizing: border-box;
}

.confirm-btn {
    width: 355px;
    height: 33px;

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

