<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/components/header/header.css">
    <link rel="stylesheet" href="/css/login.css">
    <!-- JS -->
    <script defer type="module" src="/js/login.js"></script>
</head>
<body id="root">
    <main>
        <section class="container-column">
            <h1 class="h1-title">로그인</h1>
            <div class="login-box">
                <div class="input-box">
                    <lable for="email" class="input-label">이메일</lable>
                    <input id="email" class="input-text" placeholder="이메일을 입력하세요" >
                </div>
                <div class="input-box">
                    <lable for="password" class="input-label">비밀번호</lable>
                    <input id="password" class="input-text" placeholder="비밀번호를 입력하세요" type="password">
                    <span id="helper" class="span-helper"></span>
                </div>
            </div>
            <div id="login" class="a-btn"> 로그인 </div>
            <a class="a-link" href="register">회원가입</a>
        </section>
    </main>
</body>
</html>