<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>비밀번호 변경</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/components/header/header.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/css/passwordEdit.css">

    <!-- JS -->
    <script defer type="module" src="/js/passwordEdit.js"></script>
</head>
<body id="root">
    <main>
        <section class="container-column">
            <h1 class="h1-title">비밀번호 수정</h1>
            <div class="user-edit-box">
                <div class="input-box">
                    <lable for="password" class="input-label">비밀번호*</lable>
                    <input id="password" class="input-text" placeholder="비밀번호를 입력하세요" type="password">
                    <span id="password-helper" class="span-helper"></span>
                </div>
                <div class="input-box">
                <lable for="check-password " class="input-label">비밀번호 확인*</lable>
                <input id="check-password" class="input-text" placeholder="비밀번호를 한번 더 입력하세요" type="password">
                <span id="check-password-helper" class="span-helper"></span>
            </div>
            </div>
            <div id="update" class="a-btn"> 수정하기 </div>
            <div id="toast">수정 완료</div>
        </section>
    </main>
</body>
</html>