<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>글 목록</title>
    <link rel="stylesheet" href="../public/css/common/style.css">
    <link rel="stylesheet" href="../public/css/common/layout.css">
    <link rel="stylesheet" href="../public/css/postList.css">

    <script defer src="../public/js/postList.js"></script>
</head>
<body id="root">
    <main>
        <h2 class="h2-title">
            안녕하세요, </br> 아무 말 대잔치 <b>게시판</b> 입니다.
        </h2>
        <div id="post-write-btn" class="b-btn">
            게시글 작성
        </div>
        <section class="container-column">
            <article class="post-box">
                <div class="post-box-wrap">
                    <span class="post-title">제목 1</span>
                    <div class="post-meta-container">
                        <span class="post-meta-item">좋아요 0</span>
                        <span class="post-meta-item">댓글 0</span>
                        <span class="post-meta-item">조회수 0</span>
                        <span class="post-meta-item span-time">2021-01-01 00:00:00</span>
                    </div>
                </div>
                <hr/>
                <div class="post-box-wrap">
                    <div class="profile-container">
                        <div class="profile-img-box">
                            <img class="image-cover">
                        </div>
                        <span class="profile-nickname">
                        더미 작성자 1
                    </span>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>