<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>글 상세</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/components/header/header.css">
    <link rel="stylesheet" href="/css/postDetail.css">
    <link rel="stylesheet" href="/css/comment.css">
    <!-- JS -->
    <script defer type="module" src="/js/postDetail.js"></script>
    <script defer type="module" src="/js/comment.js"></script>
</head>
<body id="root">
    <main>
        <section class="container-column">
            <section class="post-header-box">
                <h2 class="h2-title"></h2>
                <div class="post-header">
                    <div class="profile-container">
                        <div class="profile-img-box">
                            <img id="post-writer-profile-img" class="image-cover">
                        </div>
                        <span class="profile-nickname"></span>
                    </div>
                    <span id="post-created-at" class="span-time"></span>
                </div>
            </section>
            <hr/>
            <section class="post-content-box">
                <img class="post-image none" alt="" src="/image/mock.jpeg">
                <article class="post-content">
                </article>
            </section>
            <section class="post-meta-box">
                <div class="post-meta">
                    <span class="span-bold-20"></span>
                    <span class="span-bold-16">좋아요 수</span>
                </div>
                <div class="post-meta">
                    <span class="span-bold-20"></span>
                    <span class="span-bold-16">조회수</span>
                </div>
                <div class="post-meta">
                    <span class="span-bold-20"></span>
                    <span class="span-bold-16">댓글</span>
                </div>
            </section>
        </section>
        <hr/>

        <section id="comment-container" class="container-column">
            <div class="comment-box">
                <div class="input-box">
                    <textarea id="comment" class="input-textarea" placeholder="댓글을 남겨주세요"></textarea>
                </div>
                <div id="comment-button" class="b-btn">
                    댓글 등록
                </div>
            </div>
            <section class="comment-list-container">
            </section>
        </section>
    </main>
</body>
</html>