<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post Detail</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/postDetail.css">
    <link rel="stylesheet" href="../public/css/comment.css">
</head>
<body id="root">
    <main>
        <div id="post-detail-modal" class="modal-container">
            <div class="modal-box">
                <p class="modal-title">게시글을 삭제하시겠습니까?</p>
                <p class="modal-content">삭제한 내용은 복구할 수 없습니다.</p>
                <div class="modal-btn-container">
                    <div class="modal-confirm-btn">
                        취소
                    </div>
                    <div class="modal-cancel-btn">
                        확인
                    </div>
                </div>
            </div>
        </div>
        <div id="comment-detail-modal" class="modal-container">
            <div class="modal-box">
                <p class="modal-title">게시글을 삭제하시겠습니까?</p>
                <p class="modal-content">삭제한 내용은 복구할 수 없습니다.</p>
                <div class="modal-btn-container">
                    <div class="modal-confirm-btn">
                        취소
                    </div>
                    <div class="modal-cancel-btn">
                        확인
                    </div>
                </div>
            </div>
        </div>
        <section class="post-detail-container">
            <section class="post-detail-header-container">
                <h2>제목 1</h2>
                <div class="post-detail-header">
                    <div class="user-profile-container">
                        <div class="user-profile-img"></div>
                        <span class="user-profile-nickname">더미 작성자1</span>
                    </div>
                    <span class="span-time">
                        2021-01-01 00:00:00
                    </span>
                    <div class="btn-container">
                        <div class="small-btn">
                            수정
                        </div>
                        <div class="small-btn">
                            삭제
                        </div>
                    </div>
                </div>
            </section>
            <hr/>
            <section class="post-detail-content-container">
                <img class="post-detail-img" alt="" src="">
                <article class="post-detail-content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </article>
            </section>
            <section class="post-detail-meta-container">
                <div class="post-detail-meta">
                    <span class="span-bold-20">123</span>
                    <span class="span-bold-16">좋아요 수</span>
                </div>
                <div class="post-detail-meta">
                    <span class="span-bold-20">123</span>
                    <span class="span-bold-16">조회수</span>
                </div>
                <div class="post-detail-meta">
                    <span class="span-bold-20">123</span>
                    <span class="span-bold-16">댓글</span>
                </div>
            </section>
        </section>
        <hr/>

        <section class="comment-container">
            <div class="comment-box">
                <div class="input-container">
                    <textarea class="input-textarea" placeholder="댓글을 남겨주세요"></textarea>
                </div>
                <div class="confirm-btn">
                    댓글 등록
                </div>
            </div>
            <section class="comment-list-container">
                <div class="comment-detail-container">
                    <div class="comment-detail-header">
                        <div class="user-profile-container">
                            <div class="user-profile-img"></div>
                            <span class="user-profile-nickname">더미 작성자1</span>
                        </div>
                        <span class="span-time">
                            2021-01-01 00:00:00
                        </span>
                        <div class="btn-container">
                            <div class="small-btn">
                                수정
                            </div>
                            <div class="small-btn">
                                삭제
                            </div>
                        </div>
                    </div>
                    <article class="comment-content">
                        댓글 내용 1
                    </article>
                </div>
            </section>
        </section>
    </main>
</body>
</html>