.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.comment-box {
    width: 592px;
    display: flex;
    flex-direction: column;

    border-radius: 16px;
    background-color: white;
    box-sizing: border-box;

    margin-bottom: 20px;
}

.input-textarea {
    height: 126px;
    border-bottom: 1px solid #d9d9d9;
}

.confirm-btn {
    width: 138px;
    height: 39px;

    margin: 10px 10px 10px auto;

    line-height: 39px;
    text-align: center;
    border-radius: 16px;
}

.comment-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 544px;

    padding: 0 40px;
}

.comment-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    min-height: 100px;
    background-color: white;

    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 20px;

    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.05);

}

.comment-detail-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

