.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    padding: 19px;
}

.a-btn {
    width: 355px;
    height: 33px;
    line-height: 33px;

    margin-bottom: 10px;
}

