main {
    padding-top: 50px;
}

.user-edit-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 400px;

    margin-bottom: 20px;
}

.a-btn {
    width: 355px;
    height: 33px;
    line-height: 33px;
}