main {
    padding-top: 20px;
}

.post-detail-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
}

.h2-title {
    text-align: left;
    line-height: 55px;
}

hr {
    margin-bottom: 30px;
}

.post-header-box {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-container {
    width: 120px;
    margin-left: auto;
}

.post-content-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    margin-bottom: 30px;
}

.post-image {
    width: 544px;
    height: 306px;
    margin : 20px 0;
    object-fit: contain;
}

.post-content {
    width: 544px;
}

.post-meta-box {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 30px;
}

.post-meta {
    width: 116px;
    height: 77px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 16px;
    background-color: #d9d9d9;
}

.profile-img-box{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.image-cover {
    width: 35px;
    height: 35px;
}