main {
    padding-top: 50px;
}

.post-write-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
}

.input-text {
    height: 64px;
    font-size: 16px;
    font-weight: 700;

    border: none;
    border-radius: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    padding: 0 20px;
}

.input-textarea {
    height: 300px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.input-box {
    margin-top: 26px;
}

.input-textarea-box {
    min-height: 340px;
}

.input-label {
    font-size: 15px;
}

.a-btn {
    width: 355px;
    height: 33px;

    line-height: 33px;
    text-align: center;
    font-size: 14px;
}