.register-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.register-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 400px;

    margin-bottom: 20px;
}

.confirm-btn {
    width: 355px;
    height: 33px;

    font-size: 14px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
}