.register-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 400px;

    margin: 20px 0;
}

.a-btn {
    width: 355px;
    height: 33px;
    line-height: 33px;

    margin-bottom: 10px;
}

.profile-img-box {
    width: 150px;
    height: 150px;

    align-self: center;
}

.image {
    width: 150px;
    height: 150px;
}