main {
    padding-top: 50px;
}

.user-edit-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 400px;

    margin-bottom: 20px;
}

.profile-img-box {
    width: 150px;
    height: 150px;

    align-self: center;
}

.c-btn {
    position: absolute;

    width: 52px;
    height: 27px;

    border-radius: 25px;
    border : 1px solid white;
    padding: 0 10px;

    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;

    z-index: 1;
}

.a-btn {
    width: 355px;
    height: 33px;
    line-height: 33px;

    margin-bottom: 10px;

    cursor: pointer;
}