hr {
    width: 100%;
    border : 0;
    border-top: 1px solid black;
    opacity: 0.16;
}

/* h */
.h1-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.h2-title {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 31px;
}

/* p */
.p-content {
    font-size: 14px;
    font-weight: 400;
}

/* span */
.span-time {
    font-size: 14px;
}

.span-bold-20 {
    font-size: 20px;
    font-weight: 700;
}

.span-bold-16 {
    font-size: 16px;
    font-weight: 700;
}

.span-helper {
    font-size: 12px;
    font-weight: 400;
    color: #ff0000;
}

/* a */
.a-link {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

/* input */



.input-label{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 4px;
    line-height: 18px;
}

.input-text {
    height: 33px;
    border-radius: 4px;
    border: 1px solid black;
    padding-left: 10px;
    margin-bottom: 5px;
}

.input-textarea{
    resize: none;
    color: black;
    border: none;
    outline: none;

    padding: 20px;
}

.input-profile-img-label {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #c4c4c4;

    border: 1px solid #c4c4c4;

    align-self: center;

    cursor: pointer;
}

.input-profile-img {
    display: none;
}

.input-file {
    margin-bottom: 10px;
}

/* img */
.img-profile {
    border-radius: 50%;
}

/* a */
a:link, a:visited {
    color: black; /* 원하는 색상으로 변경 */
    text-decoration: none; /* 밑줄 제거 */
}

#href {
    font-weight: 400;
    font-size: 14px;
}

/* button */
.a-btn {
    background-color: #aca0eb;
    border-color: #aca0eb;
    border-radius: 4px;

    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.b-btn {
    background-color: #aca0eb;
    border-color: #aca0eb;
    border-radius: 16px;

    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    cursor: pointer;
}

.c-btn {
    width: 50px;
    height: 27px;

    border-radius: 8px;
    border: 1px solid #aca0eb;

    padding: 0 6px;
    box-sizing: border-box;

    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;

    cursor: pointer;
}

.profile-nickname {
    line-height: 20px;
    font-size: 15px;
    font-weight: 700;
}

/* modal */
.modal-container {
    position: fixed;

    display: flex;
    justify-content: center;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-box {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);

    width: 408px;
    height: 242px;

    padding: 30px;

    box-sizing: border-box;

    background-color: white;
    border-radius: 12px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 3;
}

.modal-title {
    font-size: 24px;
    font-weight: 700;
}

.modal-content {
    font-size: 20px;
    font-weight: 400;
}

.modal-btn-container {
    display: flex;
    justify-content: space-evenly;
}

.modal-cancel-btn {
    width: 127px;
    height: 44px;

    background-color: black;
    color: white;

    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}

.modal-confirm-btn {
    width: 127px;
    height: 44px;

    background-color: #c4a5fa;
    color: black;

    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}